*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.contact-box{
    background: #f9f9f9;
    padding: 60px;
    border-radius: 30px;
    width: 900px;
}

.contact-box h1{
    font-size: 40px;
    margin-bottom: 40px;
    color: #111;
}

.row{
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}

input{
    flex: 1;
    padding: 18px 25px;
    border-radius: 40px;
    border: 1px solid #ffd6c9;
    outline: none;
    font-size: 16px;
    color: #333;
}

input::placeholder{
    color: #aaa;
}

.subject{
    flex: 2;
}

button{
    background: #ff7a00;
    color: white;
    border: none;
    padding: 18px 45px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
